* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: 'Barlow Semi Condensed', sans-serif !important;
}

p{
    margin: 0 !important;
}

.background {
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.829),
        rgba(0, 0, 0, 0.658)
    ), url(/assets/bk\ ap.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.app {
    height: 100%;
    display: grid;
    place-content: center;
}

.container-app {
    border: 1px solid rgb(161, 160, 160);
    border-radius: 15px;
    background-color: #f8f8f8;
    box-shadow: 0px 0px 32px -3px rgba(0, 0, 0, 0.61);
    margin: 0 20px !important;
}

.logo {
    padding: 10px 20px;
    align-items: center;
    gap: 10px;
    width: 100%;
    justify-content: center;
}

.logo img {
    width: 60px;
}

.logo h1 {
    color:  #0e0e0e;
}

.container_search {
    position: relative;
    overflow: hidden;
    transition: 0.6s ease-out;
    padding: 0 30px;
    height: 100px;
}

.search-box {
    align-items: center;
}

.search-box input {
    border: none;
    width: 80%;
    font-size: 24px;
    font-weight: 400px;
    color: black;
    text-transform: uppercase;
    padding-left: 10px;
    margin-left: 5px;
}

.search-box input::placeholder{
    font-size: 1em;
    text-transform: capitalize;
}

.search-box i {
    font-size: 1.4em;
}

.search-box button {
    border: none;
    width: 40px;
    height: 40px;
    font-size: 1.4em;
    border-radius: 50%;
    transition: all 300ms ease-in-out;
}

.search-box button:hover {
    background-color: #d1cfcf;
}

.not-found {
    flex-direction: column;
    display: grid;
    place-content: center;
    text-align: center;
    scale: 0;
    opacity: 0;
    display: none;
    margin-top: 30px;
}

.not-found h2 {
    font-size: 5em;
    font-weight: 800;
}

.not-found p {
    font-size: 1.5em;
    font-weight: 300;
    text-transform: capitalize;
    color: rgb(0, 0, 0);
}

.weather-div{
    text-align: center;
    color: #0e0e0e;
}

.weather-div img {
    width: 45%;
}

.weather-div .temperature {
    position: relative;
    color: #0e0e0e;
    font-size: 6em;
    font-weight: 800;
}

span {
    position: absolute;
    font-size: 0.5em;
    font-weight: 200;
    top: 20px;
}

.weather-div .description {
    color: #0e0e0e;
    font-size: 1.5em;
    font-weight: 300;
    text-transform: capitalize;
}


.weather-details .humidity, .weather-details .wind {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 50%;
    height: 100px;
}

.weather-details  .humidity{
    padding-left: 15px;
    justify-content: flex-start;
}

.weather-details  .wind{
    padding-right: 15px;
    justify-content: flex-end;
}

.weather-details i {
    font-size: 1.5em;
    color: #0e0e0e;
}

.weather-details .text span{
    font-size: 1.5em;
    color: #0e0e0e;
    font-weight: 300;
}

.weather-details .text p {
    font-size: 1em;
    font-weight: 300;

}

.weather-div, .weather-details {
    scale: 0;
    opacity: 0;
}

.fadeIn {
    animation: 0.5s fadeIn forwards;
    animation-delay: 0.5s;
}

@keyframes fadeIn {
    to {
        scale: 1;
        opacity: 1;
    }
}